.about-us-page{
    max-width: 100vw;
    min-height: 100vh;
    background: linear-gradient(to bottom, #A8D6FE, #D1C2FF);
    z-index: 20;
    position: relative;
    overflow: hidden;
}
.about-us-page .navbar-container{
    position: relative;
    z-index: 100;
}

.about-us-rocket{
    position: absolute;
    rotate: -110deg;
    z-index: -10;
    width: 1700px;

    left: 50%;
    top: -300px;
    margin-left: -700px;
}

.about-us-container{
    height: 100%;
}

.header{
    margin: 2rem 0;
}
.sub-header{
    margin: 1.5rem 0;
}
.hooker{
    margin: 11rem 0;
    width: max(20%, 200px);
    text-align: center;
}
.sub-hooker{
    margin: 3rem 0;
    width: 50%;
    text-align: center;
}

.what-info-container,
.why-info-container{
    background-color: rgba(64, 70, 76, .63);
    border-radius: 20px;
    padding: 20px;
    width: 500px;
    color: white;
    text-align: center;
    position: fixed;
    display: flex;
}
.what-info-container{
    left: 100px;
    top: 100px;
    height: 400px;
}
.why-info-container{
    right: 100px;
    bottom: 250px;
    height: 300px;
}

@media (max-width: 1400px) {
    .what-info-container,
    .why-info-container{
        display: none;
    }
}