.course {
    max-width: 100vw;
    min-height: 100vh;
    background-color: #e8efff;
}

.course-basic-syntax,
.course-conditionals-loops,
.course-functions {
    width: 100%;
    text-align: center;
}


.course-line {
    flex: 1;
    max-width: 35%;
    background-color: black;
    height: 2px;
}

.course .level{
    background-color: #D2E1F1;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}
.course .level.lock{
    background-color: #939393;
}

.level-boss{
    background: url('../../public/images/Boss.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.level-boss.lock{
    background: url('../../public/images/Boss.png');
    opacity: .5;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.course-level-link{
    text-decoration: none;
    color: black;
}