.leaderboard-page{
    background: linear-gradient(to bottom, #A8D6FE, #D1C2FF);
    max-width: 100vw;
    min-height: 100vh;
    padding-bottom: 3rem;
}

.leaderboard-container{
    min-height: 80%;
    width: 75%;
    background-color: white;
    border-radius: 20px;
    padding: 2rem 4rem;
}


/* .leaderboard-header > *,
.leaderboard-user > *{
    display: flex;
    justify-content: center;
    width: fit-content;
} */

.leaderboard-header {
    font-weight: 700;
    font-size: 1.2rem;
}
.leaderboard-header > *,
.leaderboard-user > *{
    min-width: 100px;
    text-align: center;
}
.leaderboard-user{
    font-weight: 600;
    font-size: 1.1rem;
    margin: 2.5rem 0;
}
.leaderboard-image{
    border-radius: 50px;
}
.leaderboard-name{
    text-decoration: none;
    color: inherit;
}
.leaderboard-name:hover{
    text-decoration: underline;
}