.level-page{
    max-width: 100vw;
    min-height: 100vh;
    background: linear-gradient(to bottom, #D1C2FF, #ABD4FE);
    padding: 0 0 40px 0;
}

.level-container{
    width: 75%;
    background-color: #E8EFFF;
    border-radius: 20px;
    height: 100%;
    padding: 20px 100px 50px 100px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.level-header{
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.level-content{
    font-weight: 400;
    align-self: flex-start;
    margin: 10px 0;
}

.level-sub-header{
    font-size: 1.5rem;
    font-weight: 600;
    align-self: flex-start;
    margin: 20px 0;
}

.level-code-input{
    align-self: flex-start;
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    background-color: #272822;
    color: white;
}

.level-table{
    border-collapse: separate;
    border-spacing: 50px 0;
}

.level-table td {
    padding: 10px 0;
}

.decimal-list > li {
    list-style-type: decimal;
}

/* Compiler */
.compiler-container{
    color: white;
    background-color: #272822;
    border-radius: 5px;
    padding: 15px;
    border: 1px solid black;
}

.note-button{
    cursor: pointer;
}

#level-boss-input{
    color: white;
    background-color: #272822;
    min-height: 500px;
    padding: 5px;
    resize: vertical;
}

#level-boss-output{
    color: white;
    background-color: #272822;
    min-height: 150px;
    padding: 5px;
    border-radius: 5px;
    resize: vertical;
}
#level-boss-input:focus,
#level-boss-output:focus{
    outline: none;
}

.level-boss-run-btn{
    background-color: rgb(3, 146, 3);
    color: white;
    width: 100px;
    border: none;
    padding: 5px;
    border-radius: 5px;
}

#btn-level-boss-continue,
#btn-start-level-continue{
    cursor: pointer;
}

#btn-start-level-continue{
    padding: 5px 15px;
    border-radius: 5px;
    margin-top: 10px;
    align-self: flex-end;
}

.loading-spinner{
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 1000002;
}