.post-detail{
    background-color: #E8EFFF;
    max-width: 100vw;
    min-height: 100vh;
}

.post{
    width: 75%;
}

.seperation{
    width: 100%;
    height: 1.5px;
    background-color: black;
}

textarea#comment,
textarea.reply{
    border-radius: 8px;
}

/* Comments */
.comment-container ~ button,
.comment-container ~ a{
    width: 100px;
    margin-left: auto;
    display: block;
}

.comment-sort  ~ select{
    border-radius: 8px;
    padding: 5px;
    margin-left: 10px;
}

.comment-like-btn,
.comment-dislike-btn,
.comment-reply-btn{
    cursor: pointer;
}

/* Replies */
.view-reply{
    cursor: pointer;
}
 
.reply-like-btn,
.reply-dislike-btn,
.reply-reply-btn{
    cursor: pointer;
}

.comment-reply-content{
    appearance: none;
    border: none;
    background: none;
    height: 20px;
    color: black;
    width: 100%;
}
